@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-primary: #0C1218;
    --blue-icons: #4B70F2;
    --gray-fonts: #D7D7D7;
    --white-fonts: #FFFFFF;
    --grey-dark: #1E2123;

    --border-detail: linear-gradient(90deg, #5F72BD 0%, #9B23EA 100%);

    --ff-epilogue: 'Epilogue', sans-serif;
    --ff-raleway: 'Raleway', sans-serif;
}
 /* ------- ESTILOS GERAIS -------- */

 body {
    font-size: 1.6rem;
    background-color: var(--bg-primary);
    font-family: var(--ff-epilogue);
    color: var(--gray-fonts);
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

.hide {
    display: none;
}

.blue-text {
    color: var(--blue-icons);
}

.white-text {
    color: var(--white-fonts);
}

.mt-15 {
    margin-top: 1.5rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.title__section-style {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--white-fonts);
}

 /* ------- HEADER -------- */

header {
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.4rem;
    border-bottom: 1px solid var(--grey-dark);
}

nav {

}

.container-logo {

}

.container-logo__link {
    font-family: var(--ff-raleway);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--white-fonts);
}

.menu-mobile-btn-closed {

}

.menu-mobile-btn-open {

}

/* ---- MENU MOBILE DROPDOWN --- */

.menu-mobile__open {
    position: absolute;
    top: 5.6rem;
    left: 0;
    height: 100%;
    background-color: var(--bg-primary);
    width: 100%;
}

.menu-mobile__list {

}

.menu-mobile__item {
    height: 5.8rem;
    border-bottom: 1px solid var(--grey-dark);
}

.menu-mobile__link {
    padding: 0 1.6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-fonts);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8rem;
    height: 100%;
}

/* --------- Section intro ---------- */

.intro-section {
    padding: 0 1.6rem;
    margin: 0 auto;
}

.intro-welcome {
    margin-top: 3.2rem;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 10px;
    letter-spacing: 0.2em;
}

.intro-name {
    font-family: var(--ff-raleway);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5.2rem;
    color: var(--white-fonts);
}

.intro-work {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--white-fonts);
}

.intro-text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3.6rem;
}

.intro-button__container {
    display: flex;
    margin-top: 2.4rem;
    justify-content: space-between;
}

.intro-linkedin {
    width: 156px;
    height: 44px;
    background-color: var(--blue-icons);
    color: var(--white-fonts);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.intro-linkedin svg {
    margin-left: 7px;
}

.intro-github {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding-right: 2.5rem;
    color: var(--white-fonts);
}

.intro-image-container {
    margin-top: 4.7rem;
    text-align: center;
}

/* ------ history section ------- */

.history-section {
    padding: 0 1.6rem;
    margin: 7.9rem auto 0;
}

.tag-section {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background: var(--blue-icons);
    border-radius: 100px;
    color: var(--white-fonts);
    padding: 8px;
}

.history__text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3.0rem;
    margin-bottom: 2rem;
}

.history__title-graduation,
.history__title-work {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.6rem;
    color: var(--white-fonts);
    margin-top: 2rem;
}

.history__text-graduation,
.history__text-work  {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.6rem;
}

/* ------ skills section ------- */

.skills-section {
    padding: 0 1.6rem;
    margin: 3rem auto 0;
}

.skills__text {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3.0rem;
}

.skills__first-container,
.skills__second-container {
    display: flex;
    align-items: center;
    margin-top: 5.3rem;
    justify-content: space-between;
}

.skills__card-container {
    text-align: center;
}

.skills__card-title {
    margin-top: 3.8rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: var(--white-fonts);
}

.skills__card-text {
    margin-top: 5px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 14px;
}

/* ------ project section ------- */

.project-section {
    padding: 0 1.6rem;
    margin: 8.2rem auto 0;
}

.project__text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3rem;
    color: var(--gray-fonts);
    margin-bottom: 3.7rem;
}

.project__container-text {
    height: 9.7rem;
    background: var(--border-detail);
    margin-bottom: 4.6rem;
}

.project__container-text2 {
    background: var(--bg-primary);
    height: 9.7rem;
    margin-left: 2px;
    padding-left: 3.2rem;
}

.project__cards-container  {
    
}

.project__card {
    width: 24.5rem;
}

.project__card img {
    margin-bottom: 1.5rem;
}

.project__card-tag-container {
    
}

.project__card-tag {
    border: 1px solid var(--blue-icons);
    padding: 5px 7px;
    border-radius: 5.2rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--white-fonts);
}

.project__card-title {
    margin: 2rem 0;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--white-fonts);
}

.project__card-text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.project__card-button {
    width: 241px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: var(--white-fonts);
    background-color: var(--blue-icons);
    padding: 10px;
    text-align: center;
    display: block;
}

/* ----- studies section ----- */

.studies-section {
    padding: 0 1.6rem;
    margin: 8.2rem auto 0;
}

.studies__container-card {
    text-align: center;
    margin-top: 3.2rem;
}

.studies__title-card {
    margin: 2rem 0;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--white-fonts);
}

.studies__text-card {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3.6rem;
    color: var(--gray-fonts);
}

/* ----- contacts section ------ */

.contact-section {
    padding: 0 1.6rem;
    margin: 8.2rem auto 8rem;
}

.contact__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color: var(--gray-fonts);
    margin-top: 2.5rem;
}

.contact__card {
    display: flex;
    margin-top: 4rem;
    align-items: center;
    gap: 0 3rem;
}

.contact__container-text-card {

}

.contact__title-card {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--white-fonts);
    margin-bottom: 1.7rem;
}

.contact__text-card {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

/* ----- footer section ----- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 4px;
    padding: 3.2rem 0 0;
    margin: 0 auto 2.5rem;
    border-top: 2px solid var(--white-fonts);
    max-width: 95%;
}

footer p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
}